/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$black:                     #000000;
$white:                     #ffffff;
$grey:                      #999999;
$grey-light:                #eaeaea;
$grey-lighter:              #f9f9f9;
$grey-dark:                 #5d5d5d;
$blue:                      #1871e8;
$blue-dark:                 #0563c9;

// Typeography
$font-family-base:          'PT Sans', sans-serif;
$font-family-heading:       'PT Sans Narrow', sans-serif;

// Baseline
$font-size-base:          16px;

// Headings
$font-size-h1:            44px;
$font-size-h2:            30px;
$font-size-h3:            30px;
$font-size-h4:            24px;
$font-size-h5:            16px;
$font-size-h6:            14px;

// Spacing
$live-content-width:      960px;
$content-padding:         20px;