@import '_variables';
@import '_mixins';
@import '_icons';
@import '_animations';
@import '_animated';
@import '_faq';

/* -----------------------------------------
  Global
  ----------------------------------------- */
html {
  background-color: $blue;
}

body {
  font-family: $font-family-base;
  color: $grey;
  background-color: $white;
  font-size: 16px;
}

h1, .h1 { font-size: $font-size-h1; font-family: $font-family-heading; }
h2, .h2 { font-size: $font-size-h2; font-family: $font-family-heading; }
h3, .h3 { font-size: $font-size-h3; font-family: $font-family-heading; }
h4, .h4 { font-size: $font-size-h4; font-family: $font-family-heading; }
h5, .h5 { font-size: $font-size-h5; font-family: $font-family-heading; }
h6, .h6 { font-size: $font-size-h6; font-family: $font-family-heading; }

a {
  color: $blue;
  text-decoration: none;
}

iframe {
  max-width: 100%;
}

ol {
  padding-left: 15px;
  li {
    img {
      display: block;
      margin: 10px auto 10px auto;
      max-width: 100%;
    }
    p {
      font-size: $font-size-base;
    }
  }
}

/* -----------------------------------------
  DOM
  ----------------------------------------- */
// Structure
#page-header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $grey-light;
  box-shadow: 0 -10px 15px 10px rgba(0,0,0,0.1);
  z-index: 999;
  @include transition();
  .brand {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: 150px;
    height: 55px;
    line-height: 55px;
    @include transition(0.3s);
    img {}
  }
}

#page-content {
  background-color: #fff;
  margin-top: 50px;
}
#page-footer {
  z-index: 99;
  background-color: $blue;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  h2 {
    padding: 25px 0;
    margin: 0;
    color: $white;
  }
  .container {
    background: url('{% asset_path "images/bg-banner.png" %}') no-repeat center center;
    padding: 50px 0;
  }

  span {
    font-size: 55px;
    display: block;
    margin: 35px 0;
  }
  .button {
    padding: 10px 20px;
    border: 4px solid $white;
    border-radius: 5px;
    color: $white;
    background: $blue-dark;
    margin:10px 30px;
  }
}

// Navigation
#mainnav {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: flex-end;
  margin-right: 20px;
  a, span {
    height: 60px;
    line-height: 60px;
    padding: 0 7px;
    @include transition(0.5s);
  }
  span {
    font-style: italic;
  } 
  a {
    text-transform: uppercase;
    &:last-child {
      margin-right: 10px;
    }
  }
}
#sidenav {
  width: calc(100% - 60px);
  max-width: 280px;
  height: 100%;
  padding:20px;
  background: $grey;
  color: #ffffff;
  position: fixed;
  top: 50px;
  left: 0;
  h4 {
    margin: 0; 
    margin-top: 5px;
  }
  ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
    li {
      margin:7px 0;
      a {
        font-family: $font-family-heading;
        font-weight: bold;
        font-size: 19px;
        color: rgba(255,255,255,0.7);
        &:hover, &:focus, &:active {
          color: #fff;
        }
      }
      ul {
        padding-left: 20px;
      }
    }
    &.section-nav {
      display: block;
    }
  }
  &.open {
    left: 0 !important;
  }
}
#menu-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 20px;
  background: transparent;
  border: 0;
  width: 40px;
  height: 55px;
  text-indent: -999em;
  z-index: 9999;
  .sr {
    position:absolute;
    top:0;
    left:0;
  }
  &:focus {
    outline: 0;
  }
  .icon-menu {
    span {
      display: block;
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      margin-top: 6px;
      background-color: $blue;
    }
  }
}
#banner {
  position: relative;
  margin-top: 50px;
  background-color: $blue;
  .container {
    display: table;
    background: url('{% asset_path "images/bg-banner.png" %}') no-repeat center center;
    background: url('{% asset_path "images/bg-banner.svg" %}') no-repeat center center;
    background-size: contain;
    height: 280px;
    h1 {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      text-align: center;
      color: $white;
      z-index: 9;
    }
  }
}

#explanatory {
  padding: 40px 0;
  .message {
    .content {
      padding: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  svg {
    width: 600px;
    height: 450px;
  }
}

/* -----------------------------------------
  Utility Classes
  ----------------------------------------- */

.main {
  margin: 0 0 0 280px;
  width: calc(100% - 280px);
  .container {
    max-width: 90%;
  }
}

.container {
 position: relative;
 max-width: 100%;
 width: $live-content-width;
 margin: 0 auto;
}

.smaller {
  font-size: 80%;
  color: $grey;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.two-column-layout{
  .row {
    align-items: inherit;
  }
}

.col-4 {
  width: 30%;
}

.col-3 {
  width: 40%;
}

.col-6 {
  width: 50%;
}

.content {
 position: relative;
 padding: $content-padding;
}

.no-svg {
  svg {
    display: none;
  }
  .animation {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    &.meter {
      background-image: url('{% asset_path "images/02-animation.png" %}');
    }
    &.pet {
      background-image: url('{% asset_path "images/03-animation.png" %}');
    }
    &.art {
      background-image: url('{% asset_path "images/04-animation.png" %}');
    }
    &.explanatory {
      background-image: url('{% asset_path "images/05-animation.png" %}');
    }
  }
}

.button {
  background: $blue;
  border: none;
  border-radius: 0;
  color: $white;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

// alignment
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
} 
.text-right {
  text-align: right;
}

.center-block {
  display: block;
  margin: 0 auto;
}

// display

.hide {
  display: none !important;
  visibility: hidden !important;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

// color
.grey-light {
  background-color: $grey-light;
}

.blue {
  background-color: $blue;
  color: $white;
}

.highlight {
  background-color: $blue;
  padding: 20px 30px;
  margin-bottom: 20px;
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

.panel {
  padding: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,.2);
  margin-bottom: 20px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

// responsive
.break-50 {
  width: 50% !important;
}
.break-60 {
  width: 60% !important;
}
.break-70 {
  width: 70% !important;
}
.break-80 {
  width: 80% !important;
}
.break-90 {
  width: 90% !important;
}

.grid {
  width: 700px;
  margin: 0 auto;
  &:before, &:after {
    content: " ";
    display: table;
    clear: both;
    box-sizing: inherit;
  }
}
.card {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float:left;
  width: 300px;
  background: $grey-light;
  margin:10px;
  .content {
    height: 250px;
  }
  .button {
    display:block;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 0;
  }
}

.nav {
  list-style: none;
  .icon-check {
    margin-right: 5px;
    font-size: 24px;
    vertical-align: middle;
    line-height: 30px;
    color: $blue;
  }
}

/* -----------------------------------------
 Table of Contents
 ----------------------------------------- */
.toc-entry.toc-h2 {}
.toc-entry.toc-h3 {
  a {
    padding-left: 20px;
    font-size: 17px !important;
    font-weight: 200 !important;
  }
}
.toc-entry.toc-h1,
.toc-entry.toc-h4,
.toc-entry.toc-h5,
.toc-entry.toc-h6,
.no_toc {
 display: none;
}

/* -----------------------------------------
 Page States
 ----------------------------------------- */
body.default {
  #sidenav {
    left: -320px;
  }
}
body.homepage {
  #page-content {
    margin-top: 0;
  }
  #sidenav {
    left: -320px;
  }
  h3 {
    color: $grey-dark;
  }
  h4 {
    color: $grey-dark;  
  }
  section {
    background-color: $grey-light;
    .row {
      padding: 0;
    }
    &:nth-of-type(1) {
      padding:40px 0;
    }
    &:last-of-type {
      padding: 50px 0;
    }
    &.flush {
      padding: 0 !important;
    }
    &.white {
      background-color: $white;
    }
    &.grey-lighter {
      background-color: $grey-lighter;
    }
  }
}
body.condensed_header {
  #page-header {
    padding: 1px 0;
    .brand {
      width: 135px;
      height: 50px;
      line-height: 50px;
    }
  }
  #mainnav {
    height: 50px;
    a {
      line-height: 50px;
    }
    span {
      line-height: 50px;
    }
  }
}

/* -----------------------------------------
  Media Queries
----------------------------------------- */

@media(min-width: 769px) and (max-width: 1024px) {
  #banner {
    .container {
      width: 100%;
    }
  }
  body.homepage section {
    padding: 0;
    h3 {
      font-size: 26px;
    }
    svg {
      height: auto;
    }
  }
  .animation {
    width: 40%;
  }
  .message {
    width: 60%;
    .content {
      padding: 20px;
    }
  }
  #explanatory {
    .row {
      display: block;
    }
    .message, .animation {
      width: 100%;
    }
  }
  #page-footer {
    .button {
      font-size:13px;
      margin: 10px 15px;
    }
  }
}

@media (max-width: 1024px) {
  #page-header {
    .brand {
      left: 80px;
    }
  }
  #menu-toggle {
    display: block;
  }
  #sidenav {
    z-index: 10;
    left: -320px;
    transition: all .5s ease;
    &.open {
      left: 0;
    }
    h4 {
      // display: block;
      font-size: 19px;
      font-weight: bold;
      color: $grey-dark;
    }
    ul { display: block; }
    ul.section-nav {
      padding-left: 7px;
      margin-top: 0;
      li {
        a {
          font-weight: normal;
          color: $grey-dark;
          font-size: 17px;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    margin-left: 0;
    .container {
      max-width: 100%;
    }
  }

  #explanatory {
    .animation {
      text-align: center;
    }
  }
}

@media(max-width: 768px) {

  h2, h3, h4 {
    font-size: 24px;
  }

  section, body.homepage section {
    padding: 20px 0;
  }

  body.homepage section {
    &:nth-of-type(1) {
      padding:20px 0;
    }
    svg {
      height: 220px;
    }
    .content {
      height: auto;
      padding: 0 20px;
    }
    .message {
      h3 {
        margin-top: 0;
      }
    }
  }
  #page-header {
    .brand {
      left: auto;
      right: 20px;
    }
  }

  #page-footer {
    position:relative;
    z-index: 10;
    section {
      padding: 0;
    }
    .container {
      background: transparent;
    }
    .button {
      display: block;
    }
  }

  #mainnav { display: none; }

  #banner {
    height: 180px;
    padding-top:10px;
    .container {
      width: 100%;
      height: 160px;
      background-size: cover;
    }
  }

  #explanatory {
    svg {
      width: 285px;
      height: auto;
    }
  }

  .animation, .message {
    text-align: center;
    .content {
      padding: 20px;
    }
  }

  .animation, .message, .grid, .card {
    width: 100%;
  }


  .row {
    display: block;
  }

  .card {
    margin: 10px 0;
    padding: 0;
    .content {
      height: 200px;
    }
  }
}

@media(max-width: 479px) {
  body.condensed_header {
    #page-header {
      .brand {
        height: 50px;
      }
    }
  }
  // #page-header {
  //   .brand {
  //     width: 100px;
  //     height: 50px;
  //     line-height: 45px;
  //   }
  // }
  #menu-toggle {
    height: 50px;
  }
}