---
layout: homepage
---
<div id="banner">
  <div class="container">
    <h2>Walk Up &amp; Use Anything</h2>
  </div>
</div>
<div id="page-content">
  <section class="grey-lighter">
    <div class="container">
      <div class="content text-center">
        <h3>The Physical Web is an open source approach to unleash the core superpower of the web: interaction on demand. </h3>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="animation meter">
        <div class="content">
          {% include svg/meter.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content" >
          <h3>Everything a tap away</h3>
          <p>Walk up and interact with any smart device—a vending machine, a poster, a toy, a bus stop, a rental car— without downloading an app first. Everything a tap away.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="grey-lighter">
    <div class="row">
      <div class="animation pet">
        <div class="content">
          {% include svg/pet.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content">
          <h3>Powerful &amp; pervasive</h3>
          <p>Taken by itself, each of these examples are modestly useful. Taken as a whole, however, they imply a vast "long tail" where anything can offer information and utility.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="animation art">
        <div class="content">
          {% include svg/art.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content" >
          <h3>Join in &mdash; build the Physical Web!</h3>
          <p>We're developing the physical web out in the open as we do all things related to the web. While Google is creating an initial implementation, we hope others join in as well.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="explanatory" class="grey-lighter">
    <div class="row">
      <div class="animation explanatory">
        <div class="content">
          {% include svg/explanatory.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content text-left">
          <div class="td">
            <h3>How does it work?</h3>
            <p>The Physical Web is powered by objects in the environment. A low-energy beacon broadcasts a url. A small utility on the phone scans for URLs that are nearby. We are using the open Eddystone-URL Bluetooth beacon format to find nearby URLs without requiring any centralized registrar. Here is a list of many beacon makers that are already supporting Eddystone. We also support finding URLs through Wifi using mDNS and uPnP.</p>
            <h3>Why is this important?</h3>
            <p>The number of smart devices is going to explode, and the assumption that each new device will require its own application just isn't realistic. We need a system that lets anyone interact with any device at any time. The Physical Web isn't about replacing native apps: it's about enabling interaction when native apps just aren't practical.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="content text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1yaLPRgtlR0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
</div>