---
layout: homepage
---
<div id="banner">
  <div class="container">
    <h1>Walk up and use <i>anything</i></h1>
  </div>
</div>
<div id="page-content">
  <section class="grey-lighter">
    <div class="container">
      <div class="content text-center">
        <h3>The Physical Web is an open approach to enable quick and seamless interactions with physical objects and locations.</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="animation meter">
        <div class="content">
          {% include svg/meter.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content" >
          <h3>Everything is a tap away</h3>
          <p>Walk up and interact with any object -- a parking meter, a toy, a poster -- or location -- a bus stop, a museum, a store -- without installing an app first. Interactions are only a tap away.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="grey-lighter">
    <div class="row">
      <div class="animation pet">
        <div class="content">
          {% include svg/pet.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content">
          <h3>See what’s useful around you</h3>
          <p>See web pages associated with the space around you. Choose the page most useful to you.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="animation art">
        <div class="content">
          {% include svg/art.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content" >
          <h3>Any object or place can broadcast content</h3>
          <p>When <i>anything</i> can offer information and utility, the possiblities are endless.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="explanatory" class="grey-lighter">
    <div class="row">
      <div class="animation explanatory">
        <div class="content">
          {% include svg/explanatory.svg %}
        </div>
      </div>
      <div class="message">
        <div class="content text-left">
          <div class="td">
            <h3>How does this work?</h3>
            <p>The Physical Web enables you to see a list of URLs being broadcast by objects in the environment around you. Any object can be embedded with a Bluetooth Low Energy (BLE) beacon, which is a low powered, battery efficient device that broadcasts content over bluetooth. Beacons that support the <a href="https://github.com/google/eddystone">Eddystone</a> protocol specification can broadcast URLs. Services on your device such as Google Chrome can scan for and display these URLs after passing them through a proxy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="content text-center">
        <h3>Explore the Physical Web in 3 easy steps.</h3>
        <h4><strong>Get beacons</strong>. <span class="smaller">On supported Android devices, you can use <a href="https://play.google.com/store/apps/details?id=com.uriio">Beacon Toy</a> to transform your phone into an Eddystone beacon. Otherwise, choose from a variety of <a href="https://developers.google.com/beacons/eddystone#full_support_for_eddystone">beacon manufacturers.</a> </span></h4>
        <h4><strong>Configure beacons</strong>. <span class="smaller">You’ll have to select which URLs you’d like to broadcast (browsers such as Chrome only support HTTPS) and how far and often you want your beacons to <a href="{{site.baseurl }}/get-started#bluetooth-low-energy-ble-beacons">broadcast.</a> </span></h4>
        <h4><strong>Deploy</strong>. <span class="smaller">Place your beacons in a physical space. Anyone who passes by with a Physical Web-compatible service will see your URL. </span></h4>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1yaLPRgtlR0" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
  </section>
</div>